@media screen and (max-width: 900px) {
    .body-main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .page-1 {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: #001734;
        height: 60vw;
    }

    .page-1-left {
        display: flex;
        width: 10%;
    }

    .page-1-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        z-index: 1;
    }

    .img-page-1-left {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .img-page-1-right {
        width: 90%;
    }

    .p-page1-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 5.5vw;
        font-weight: bold;
        margin-top: -1%;
        margin-bottom: 0;
    }

    .p-page1-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        font-size: 3.5vw;
        text-align: center;
        color: white;
        margin-top: 2.5%;
    }
}