@media screen and (max-width: 900px) {
    .page-4 {
        display: flex;
        flex-direction: column;
        background: #001734;
        width: 100%;
        height: 70vw;
        z-index: -2;
    }

    .page4-back-img {
        position: absolute;
        margin-top: 13vw;
        width: 100%;
        height: 57vw;
        z-index: 0;
    }

    .div-for-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .page-4-title-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        font-family: Century Gothic;
        font-weight: bold;
        text-align: center;
        color: white;
        margin-top: 2.5%;
    }

    .page-4-title-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.45vw;
        font-family: Century Gothic;
        text-align: center;
        color: white;
        margin-top: -3.5%;
    }

    .contactFrom {
        display: flex;
        flex-direction: column;
        height: 70%;
        gap: 2.5vw;
        margin-right: 3vw;
        margin-left: 3vw;
        z-index: 2;
    }

    .div-input-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5vw;
    }

    .div-input-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .pole-1 {
        width: 90%;
        height: 4vw;
        background: #0275FF80;
        border-width: 0;
        font-family: Century Gothic;
        text-indent: 1vw;
        color: #BEE6F8;
    }

    .pole-2 {
        width: 90%;
        height: 4vw;
        background: #0275FF80;
        border-width: 0;
        font-family: Century Gothic;
        text-indent: 1vw;
        color: #BEE6F8;
    }

    ::placeholder {
        color: #BEE6F8;
        font-size: 2vw;
    }

    .submit-bt {
        width: 20%;
        margin-left: 38vw;
        height: 4.7vw;
        background: linear-gradient(263.74deg, #00FFB8 0%, #019CEB 50.08%, #0275FF 100%);
        border-width: 0;
        color: white;
        font-family: Century Gothic;
        font-weight: bold;
        font-size: 2vw;
        box-shadow: 0 0 20px 6px rgba(0, 120, 255, 0.8);
    }

    .page-last {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 5vw;
        background: #001734;
    }

    .p-last {
        color: #5F8FD9;
        font-family: Century Gothic;
        font-size: 2vw;
    }
}